ol,
ul,
li,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}

.App {
  text-align: center;
}

.container {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 15px;
}

.todo-menu {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.todo-list {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  margin: 0 auto;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.checkbox {
  margin-right: 1rem;
}

.button {
  justify-self: flex-end;
}
